a {
	color: #333;
	text-decoration: none
}
.nav {
	list-style: none;
	height: 30px;
	border-bottom: 15px solid #f60;
	margin-top: 40px;
	padding-left: 50px
}
.nav li {
	float: left
}
.nav li a {
	display: block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	width: 120px;
	background: url(btnBg.png);
	margin-left: 1px
}
.nav li a.on, .nav li a:hover {
	color: #fff;
	background-position: 0 -30px
}
.head, .main,.footer {
	width: 960px;
	margin: 0 auto;
}
.main {
	top: 100px;
	background: #9c0;
	border-radius: .5em;
	padding-bottom: 50px;
}
.head {
	height: 50px;
	background: #fff
}
.logo {
	width: 60px;
	height: 60px;
	background: url(logo.jpg);
	margin-right: 50px
}
.body {
	width: 960px;
}
.footer {
	height: 50px;
	background: #f60;
	border-radius: .5em;
	text-align: center;
	clear: both;
}
.h1 {
	display: block;
	margin-top: 20px;
	margin-left: 80px;
	height: 30px;
	width: 360px;
	color: #fff;
	font-size: 24px;
	text-align: left;
}
.h2{
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.h3{
	display: block;
	float: left;
	margin-left: 20px;
	color: #f60;
	font-size: 20px;
	text-align: left;
	overflow: hidden;
	width: 550px;
}
.h4{
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}
.todo {
    clear: left;
	width: 800px;
	height: 60px;
	background: yellow;
	border-radius: .5em;
	margin: 6px auto;
	text-align: center;
	padding-top:10px;
}
#divT {
	width: 300px;
	line-height: 24px;
	margin: 0 auto
}
.button {
	float: right;
	width: 100px;
	height: 40px;
	background: #f60;
	border-radius: .5em;
	border: 2px solid yellow ;
	margin-right: 100px;
}
#search_text{
	margin-left: 620px;
	margin-bottom: 26px;
	display: block;
	float: left;
	width:190px;
    height: 25px;
	font-size: 16px;
	font-family: Montserrat,sans-serif;
	border:2px solid yellow;
	
	margin-right: 0;
	color: white;
	outline: none;
	background: #f60;

}
#search_button{
	display: block;
	float: left;
	border:2px solid yellow;
	height:32px;
	background: #f60 url(search.png) center no-repeat;
	width: 60px;
	text-align: center;
	cursor: pointer;
}
#del_button{
	display: block;
	float: right;
	border:2px solid yellow;
	border-radius: .5em;
	margin-right: 30px;
	height:60px;
	background: #fff url(del.png) center no-repeat;
	width: 60px;
	text-align: center;
	cursor: pointer;
}
.editInput {
	width: 500px;
	line-height: 40px;
	font-size: 20px;
	position: relative;
	left: -90px;
	top: 2px;
}



